thanos_stack_infra:
  name: "" # required
  region: "" # required

## L1 RPC
l1_rpc:
  url: "" # required
  kind: "" # required

## l2 RPC
l2_rpc:
  geth: "" # option
  node: "" # option

## Common values
common:
  l2_node_web3_url: "" # option
  l2_rollup_web3_url: "" # option

## Geth values
op_geth:
  resources:
    cpu: # option
    memory: # option

  volume:
    capacity: # option
    storage_class_name: "" # option
    csi:
      driver: "" # option
      volumeHandle: "" # required

  ingress:
    enabled: false
    className: ""
    annotations: {}
    hostname: ""
    tls:
      enabled: false
    paths:
      - path: /
        pathType: Exact
        port: 8545
  env:
    geth_verbosity: 3
    geth_data_dir: "/db"
    chain_id: # required
    rpc_port: 8545
    ws_port: 8546
    genesis_file_url: "" # required

## Node values
op_node:
  resources:
    cpu: # option
    memory: # option

  volume:
    capacity: # option
    storage_class_name: # option
    csi:
      driver: "" # option
      volumeHandle: "" # required

  env:
    l2_engine_auth: "/op-geth-auth/jwt.txt"
    sequencer_enabled: true
    sequencer_l1_confs: 5
    verifier_l1_confs: 4
    rollup_config_url: # required
    rpc_addr: "0.0.0.0"
    rpc_port: 8545
    p2p_disable: true
    metrics_enabled: true
    metrics_addr: "0.0.0.0"
    metrics_port: 7300
    pprof_enabled: true
    rpc_enable_admin: true
    l1_beacon: # required

## Batcher values
op_batcher:
  env:
    poll_interval: 1s
    sub_safety_margin: 6
    num_confirmations: 1
    safe_abort_nonce_too_low_count: 3
    resubmission_timeout: 30s

    rpc_addr: 0.0.0.0
    rpc_port: 8548
    rpc_enable_admin: true

    metrics_enabled: true
    metrics_addr: 0.0.0.0
    metrics_port: 7300

    max_channel_duration: 1500

    batch_type: 1
    data_availability_type: blobs

## Proposer values
op_proposer:
  enabled: true # option
  env:
    poll_interval: 12s # option
    rpc_port: 8560

    metrics_enabled: true
    metrics_addr: 0.0.0.0
    metrics_port: 7300

    l2oo_address:

## Challenger values
op_challenger:
  enabled: false # option
  volume:
    capacity: # option
    storage_class_name: # option
    csi:
      driver: "" # option
      volumeHandle: "" # required

  env:
    l1_beacon: "" # required
    trace_type: "cannon"
    game_factory_address: "" # required
    datadir: /db
    cannon_rollup_config_url: "" # required
    cannon_l2_genesis_url: "" # required
    cannon_bin: /usr/local/bin/cannon
    cannon_server: /usr/local/bin/op-program
    cannon_prestates_url: "" # required or option
    num_confirmations: 1

## Graph-node & ipfs values
graph_node:
  enabled: false # option
  network_name: "" # required
  ethereum: "" # option
  resources:
    cpu: # option
    memory: # option
  ingress:
    enabled: false
    hostname: ""
    tls:
      enabled: false
  env:
    postgres_host: "" # required
    postgres_user: "postgres" # option
    postgres_db: "graphnode" # option
    GRAPH_LOG: info # option
  secret:
    postgres_pass: ""
    PGPASSWORD: ""

ipfs:
  ingress:
    enabled: false
    hostname: ""
    tls:
      enabled: false
  resources:
    cpu: # option
    memory: # option
  volume:
    capacity: # option
    storage_class_name: # option
    csi:
      driver: "" # option
      volumeHandle: "" # required

l1_proxyd:
  enabled: false
  backends:
    - name: ""
      groups: # array [ main, heavy_request, alchemy ]
      rpc: ""
      ws: ""
      consensus_receipts_target: ""
  on_premise:
    rpc: ""
    ws: ""
  alchemy:
    rpc: ""
    ws: ""

redis:
  enabled: false
  resources:
    cpu: # option
    memory: # option
