nameOverride: ""

fullnameOverride: ""

cross_trade:
  spec:
    replicas: 1

  image: "tokamaknetwork/cross-trade-app:latest"
  imagePullPolicy: Always

  env:
    NEXT_PUBLIC_PROJECT_ID:
    NEXT_PUBLIC_CHAIN_CONFIG:

  ingress:
    enabled: false
    className: ""
    annotations: {}
    hostname: ""
    tls:
      enabled: false
    paths:
      - path: /
        pathType: Prefix

serviceAccount:
  create: true
  annotations: {}
  name: ""
