# Init variables
export TF_VAR_thanos_stack_name="obm-test"
export TF_VAR_aws_region="ap-northeast-2"

# Backend variables
export TF_VAR_backend_bucket_name="obm-test-thanos-stack-tfstate-94h5g7k2"

export TF_CLI_ARGS_init="-backend-config='bucket=$TF_VAR_backend_bucket_name'"
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config='region=${TF_VAR_aws_region}'"

# Sequencer private keys
export TF_VAR_sequencer_key="0xsequencer"
export TF_VAR_batcher_key="0xbatcher"
export TF_VAR_proposer_key="0xproposer"

# Route53 variables
export TF_VAR_chain_domain_name="obm-test.tokamak.network"

# VPC variables
export TF_VAR_azs='["ap-northeast-2a", "ap-northeast-2c"]'
export TF_VAR_vpc_cidr="192.168.0.0/16"
export TF_VAR_vpc_name="${TF_VAR_thanos_stack_name}/VPC"

# EKS
export TF_VAR_eks_cluster_admins='[
  "arn:aws:iam::992382494724:user/austin.o@onther.io"
]'

# Uploading chain config files
export TF_VAR_genesis_file_path="config-files/genesis.json"
export TF_VAR_rollup_file_path="config-files/rollup.json"
