# Init variables
export TF_VAR_thanos_stack_name=
export TF_VAR_aws_region=

# Backend variables
export TF_VAR_backend_bucket_name=

export TF_CLI_ARGS_init="-backend-config='bucket=$TF_VAR_backend_bucket_name'"
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config='region=${TF_VAR_aws_region}'"

# Sequencer private keys
export TF_VAR_sequencer_key=
export TF_VAR_batcher_key=
export TF_VAR_proposer_key=
export TF_VAR_challenger_key=

# VPC variables
export TF_VAR_azs='["ap-northeast-2a", "ap-northeast-2c"]'
export TF_VAR_vpc_cidr="192.168.0.0/16"
export TF_VAR_vpc_name="${TF_VAR_thanos_stack_name}/VPC"

# EKS
export TF_VAR_eks_cluster_admins='[]'

# Uploading chain config files
export TF_VAR_genesis_file_path="config-files/genesis.json"
export TF_VAR_rollup_file_path="config-files/rollup.json"
export TF_VAR_prestate_file_path="config-files/prestate.json"
export TF_VAR_prestate_hash="0x03ab262ce124af0d5d328e09bf886a2b272fe960138115ad8b94fdc3034e3155"

# Thanos config
export TF_VAR_stack_deployments_path=
export TF_VAR_stack_l1_rpc_url=
export TF_VAR_stack_l1_rpc_provider=
export TF_VAR_stack_l1_beacon_url=
