# Init variables
export TF_VAR_thanos_stack_name="obm-test"
export TF_VAR_aws_region="ap-northeast-2"

# Backend variables
export TF_BACKEND_BUCKET_NAME="obm-test-thanos-stack-tfstate-v7kt3ukf"

export TF_CLI_ARGS_init="-backend-config='bucket=$TF_BACKEND_BUCKET_NAME'"
export TF_CLI_ARGS_init="$TF_CLI_ARGS_init -backend-config='region=${TF_VAR_aws_region}'"

# Sequencer private keys
export TF_VAR_sequencer_key="0xsequencer"
export TF_VAR_batcher_key="0xbatcher"
export TF_VAR_proposer_key="0xproposer"

# Route53 variables
export TF_VAR_chain_domain_name="obm-test.tokamak.network"
