# Init variables
# Write the full absolute path of the deployments e.g. /Users/username/tokamak-thanos/packages/tokamak/contracts-bedrock/deployments/thanos-stack/userfilename.json
export stack_deployments_path=

# About AWS infra variables
export stack_infra_name=
export stack_infra_region=

# About L1_RPC variables
export stack_l1_rpc_url=
export stack_l1_rpc_provider=

# About deploy chain_id
export stack_chain_id=

# About L1_beacon
export stack_l1_beacon_url=
